// Base Styles
// ––––––––––––––––––––––––––––––––––––––––––––––––––

html {
	@include full-screen;
	font-size: 62.5%; 
}

body {
	@include full-screen;
	font: normal normal 400 1.5em/1.6 $font-main;
}


// Typography
// ––––––––––––––––––––––––––––––––––––––––––––––––––
// Base resolution: < 540px
// Breakpoint - SM: ≥ 680px
// Breakpoint - MD: ≥ 968px;
// Breakpoint - LG: ≥ 1200px
// Breakpoint - XL: ≥ 1440px
// ––––––––––––––––––––––––––––––––––––––––––––––––––
// ––––––––––––––––––––––––––––––––––––––––––––––––––

a, a:hover, a:active, a:visited {
	text-decoration: none;
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	// margin: 0 0 2em 0;
	margin: 0;
}
  
// Resolution: < 680px
h1 { font: normal normal 300 1.6em/1.4em $font-main; }
h2 { font: normal normal 400 1.2em/1.4em $font-main; }
h3 { font: normal normal 400 1.2em1.067em/1.4em $font-main; }
h4 { font: normal normal 400 0.933em/1.4em $font-main; }
h5 { font: normal normal 400 0.8em/1.4em $font-main; }
h6 { font: normal normal 400 0.533em/1.4em $font-main; }

p {
	width: 640px;
	max-width: 100%;
	margin: 0 auto;
	font: normal normal 300 1.067em/1.867em $font-main;
}

button {
	display: block;
	width: 175px;
	// height: 44px;
	// line-height: 46px;
	margin: 1.75em auto 0 auto;
	padding: 11px 0;
	background-color: $color-blue;
	color: $color-white;
	font: normal normal 400 1.067em/1.4em $font-main;
	text-align: center;
	text-transform: uppercase;
	border: none;
	border-radius: 2px;
	outline: none;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	
	&:hover {
		background-color: $color-skyblue;
	}
}

@media screen and (min-width: 680px) {
	h1 { font-size: 1.867em; }
	h2 { font-size: 1.267em; }
	h3 { font-size: 1.133em; }
	h4 { font-size: 1em; }
	h5 { font-size: 0.8em; }
	h6 { font-size: 0.6em; }
	p { font-size: 1.133em; }
}

@media screen and (min-width: 968px) {
	h1 { font-size: 2em; }
	h2 { font-size: 1.267em; }
	h3 { font-size: 1.133em; }
	h4 { font-size: 1em; }
	h5 { font-size: 0.8em; }
	h6 { font-size: 0.6em; }
	p { font-size: 1.133em; }
	
	button {
		width: 215px;
		height: 54px;
		line-height: 56px;
		padding: 0;
		font-size: 1.133em;
		letter-spacing: 0.03em;
	}
}

@media screen and (min-width: 1200px) {
	h1 { font-size: 2.133em; }
	h2 { font-size: 1.467em; }
	h3 { font-size: 1.267em; }
	h4 { font-size: 1.133em; }
	h5 { font-size: 0.867em; }
	h6 { font-size: 0.733em; }
	p { font-size: 1.2em; }
}

@media screen and (min-width: 1440px) {
	h1 { font-size: 2.4em; }
	h2 { font-size: 1.6em; }
	h3 { font-size: 1.2em; }
	h4 { font-size: 1.067em; }
	h5 { font-size: 0.933em; }
	h6 { font-size: 0.8em; }
	p { font-size: 1.333em; }
}

.navbar {
	position: fixed;
	z-index: 999;
	top: 0;
	width: 100%;
	height: 85px;
	padding: 0 20%;
	background-color: transparent;
	color: $color-white;
	
	h2 {
		display: inline-block;
		text-transform: uppercase;
		font-weight: 400;
		line-height: 2.5em;
	}
	
	ul {
		display: inline-block;
		list-style: none;
		
		li {
			display: inline-block;
			font-size: 1.2em;
			padding: 0 20px 5px;
		}
	}
	
	.venture {
		line-height: 60px;
		letter-spacing: 0.15em;
		font-family: "Quicksand", "Lato", sans-serif;
		text-transform: lowercase !important;
	}
	
	a {
		color: $color-white;
		
		&:hover {
			border-bottom: 1px dotted #262626;
		}
	}
	
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-ms-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	transition: all 250ms ease;
}

.nav-filled {
	background-color: white;
	color: $color-black;
	
	a {
		color: $color-black;
	}
}