// Typography
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Quicksand);
$font-main: "Lato", sans-serif;


// Colors
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$color-white: #fdfdfd;
$color-black: #1a1a1a;
$color-blue: #17c3e6;
$color-skyblue: #00d4ff;

// Template
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@mixin full-screen {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

@mixin full-width {
	width: 100%;
	margin: 0;
	padding: 0;
}

@mixin background-cover {
	webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@mixin vertical-align($vpos) {
	position: relative;
	top: $vpos;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin vertical-parent {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}