$color-white0: #f7f7f7;
$color-white1: #e6e6e6;
$color-white2: #d5d5d5;
$color-white3: #c4c4c4;
$color-white4: #bbb;

$color-gray0: #b3b3b3;
$color-gray1: #a2a2a2;
$color-gray2: #919191;
$color-gray3: #808080;
$color-gray4: #6f6f6f;

$color-black0: #1a1a1a;
$color-black1: #2b2b2b;
$color-black2: #3c3c3c;
$color-black3: #4d4d4d;
$color-black4: #5e5e5e;

$color-blue0: #17c3e6;
$color-blue1: #17c3e6;
$color-blue2: #17c3e6;
$color-blue3: #17c3e6;

$font-main: "Lato", sans-serif;
// $font-alt: "Lato", sans-serif;