/* About */
.about {
	width: 100%;
	height: 50%;
	margin: 0;
	padding: 0;
	background-color: #000;
	color: $color-white0;
	text-align: center;
	
	.vetical-container {
		top: calc(50% - 10em);
	}
	.header {
		margin: 0 auto 0.25em;
		// font: normal normal 400 2em/1.25em $font-main;
	}
	
	p {
		width: 640px;
		max-width: 95%;
		margin: 0 auto;
		font: normal normal 400 1.15em/1.625em $font-main;
		color: $color-white4;
	}
}