/* Intro */
.intro {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: url(../images/background.jpg) no-repeat center bottom scroll;
	background-size: cover;
	text-align: center;
	
	.vertical-align {
		top: 37.5%;
	}
	
	.header {
		font: normal normal 300 4em/1em $font-main;
		color: $color-white0;
		text-shadow: 0px 0px 15px #000;
	}
	
	.call {
		font: normal normal 400 2em/1.5em $font-main;
		color: $color-white3;
		text-shadow: 0px 0px 15px #000;
		margin: 7px auto 0;
	}
	
	.apply {
		width: 275px;
		margin: 50px auto 0;
		padding: 12px 0;
		// font: normal normal 500 1.025em/1.5em $font-main;
		border: none;
		border-radius: 2px;
		background-color: $color-blue2;
		color: $color-white0;
	}
		
	form {
		font-size: 1.143em;
	}
	
	.more-info {
		margin: 2% auto 7px;
		color: $color-white3;
		font: normal normal 400 1.25em/1.5em $font-main;
		text-shadow: 0px 0px 15px #000;
	}
	
	.email-form {
		display: inline-block;
		width: 20em;
		// margin: 50px 1px 0 0;
		margin: 0 -2px 0 0;
		padding: 0.625em 1.25em;
		font: normal normal 400 1em/1.5em $font-main;
		border: none;
		border-radius: 420px; // blaze it
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		// border-radius: 3px;
		color: $color-black2;
		background-color: $color-white0;
		outline: none;
		// text-transform: uppercase;
	}
	
	.learn-more {
		display: inline-block;
		width: 8.5em;
		// margin: 50px 0 0 1px;
		margin: 0 0 0 -2px;
		padding: 0.625em 0;
		font: normal normal 400 1em/1.5em $font-main;
		border: none;
		border-radius: 420px; // blaze it
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		// border-radius: 3px;
		background-color: $color-blue2;
		color: $color-white0;
		// text-transform: uppercase;
	}
}